<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"https://mybatis.org/
dtd/mybatis-3-config.dtd">
<!-- 전역 환경 설정 -->
<configuration>

<!-- 별칭을 작성하는 명령어 태그 : typeAliases -->
	<typeAliases>
		<typeAlias alias="MemberDTO" type="com.green.member.MemberDTO"/>
		<typeAlias alias="BoardDTO" type="com.green.board.BoardDTO"/>
		<typeAlias alias="CarDTO" type="com.green.carproduct.CarProductDTO"/>
	</typeAliases>
<!-- 	<mappers>
		<mapper resource="mybatis/mappers/member-mapper.xml"/>
	</mappers> -->
</configuration>