<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Member Join</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
</head>
<body>

	<header th:replace="~{/include/header_nav_footer.html::header}"></header>
	<nav th:replace="~{/include/header_nav_footer.html::nav}"></nav>
	<section>
		<div id="section_wrap">
			<div class="word">HOME</div>
			<div class="content">
				<div class="carList">
					<div class="carItem" th:each="car : ${carlist}">
						<img th:src="@{/img/car/{img}(img=${car.img})}">
						<div class="carName" th:text="${car.carName}"></div>
						<div class="carPrice" th:text="${#numbers.formatInteger(car.price,3,'COMMA')}+원"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer th:replace="~{/include/header_nav_footer.html::footer}"></footer>
	
</body>
</html>