<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/headercss.css}">
</head>
<body>
<header th:fragment="header">
	<div id="header_wrap">
		<a th:href="@{/}">홈으로 이동</a>
		<th:block th:if="${session.whoLog == null}">
			<a th:href="@{/member/signup}">회원가입</a>
			<a th:href="@{/member/login}">로그인</a>
		</th:block>
		<th:block th:if="${session.whoLog != null}">
			<a th:href="@{/member/logout}">로그아웃</a>
			<span th:if="${session.whoLog.id == 'admin9867' && session.whoLog.name == '박찬하'}">관리자(박찬하)</span>
			<span th:if="${session.whoLog.id != 'admin9867'}" th:text="${session.whoLog.name}+님"></span>
			<th:block  th:if="${session.whoLog.id == 'admin9867' && session.whoLog.name == '박찬하'}">
				<a th:href="@{/member/list}">회원목록</a>
			</th:block>
			<a th:href="@{/member/memberMyPage(id=${session.whoLog.id})}">MyPage</a>
		</th:block>
	</div>
</header>
</body>
</html>