<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>영화예매</title>
</head>
<body>
				<!-- 이동 할 매핑주소 -->
	<form th:action="@{/movie/reserveConfirm}" method="POST">
		<p>모든 영화의 관람 가격은 12000원 입니다.</p>
		<input type="text" name="title" placeholder="영화제목을 입력해주세요" />
		<input type="date" name="date" placeholder="관람날짜를 선택해주세요" />
		<input type="time" name="time" placeholder="관람시간을 선택해주세요" />
		<input type="number" name="quantity" placeholder="관람인원을 입력해주세요" />
		<input type="text" name="name" placeholder="예매자 성함을 입력해주세요" />
		<button type="submit">예매하기</button>
	</form>
	
</body>
</html>