<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>그린 게시판</h1>
	<h2>전체 게시글 목록</h2>
	<table border="1">
		<tbody>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>내용</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>
			<tr th:each="li : ${list}">
				<td th:text="${li.id}"/>
				<td>         <!-- 이동할 url주소 수정하기 -->
					<a th:href = "@{/detail/(id=${li.id})}"
					th:text = "${li.title}"></a>
				</td>
				<td>
					<a th:href = "@{/detail/(id=${li.id})}"
					th:text = "${li.content}"></a>
				</td>
				<td th:text="${li.writer}"/>
				<td th:text="${li.createdAt}"/>
			</tr>
		</tbody>
	</table>
</body>
</html>